<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.OrderMapper">
    <!--新增用戶配送資訊-->
    <insert id="insertOrder">
        INSERT INTO orders (user_id, total_amount, status, recipient_name, recipient_phone, recipient_address,
                            created_time, updated_time)
        VALUES (#{userId},#{totalAmount},#{status},#{recipientName},#{recipientPhone},#{recipientAddress},now(),now());
    </insert>
</mapper>