<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.OrderMapper">
    <!--新增用戶配送資訊-->
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO orders (user_id, total_amount, status, recipient_name, recipient_phone, recipient_address,
                            created_time, updated_time)
        VALUES (#{userId}, #{totalAmount}, #{status}, #{recipientName}, #{recipientPhone}, #{recipientAddress}, now(),
                now());
    </insert>

    <!--查詢訂單id-->
    <select id="selectOrderId" resultType="com.example.mall.pojo.entity.Order">
        SELECT id,
               user_id,
               total_amount,
               status,
               recipient_name,
               recipient_phone,
               recipient_address,
               created_time,
               updated_time
        FROM orders
        WHERE id = #{id};
    </select>

    <!--更新訂單狀態-->
    <update id="updateOrderStatus">
        UPDATE orders
        SET status = #{status},
            updated_time = now()
        WHERE id = #{id}
    </update>
<!--會員中心用戶的全部訂單-->
    <select id="selectAllOrders" resultType="map">
        SELECT
            o.id,
            o.user_id,
            DATE_FORMAT(o.created_time, '%Y-%m-%d %H:%i:%s') AS created_time,
            o.recipient_address,
            o.recipient_phone,
            o.total_amount,
            o.status
        FROM orders o
        ORDER BY o.created_time DESC
    </select>
</mapper>